@import "tailwindcss";

@theme {
  --color-default-blue: #1659BF;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
  background: #1659BF; 
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #2176d2; 
  border-radius: 4px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #1a5bb8;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #1659BF;
}

.sidebar-scroll {
  scrollbar-color: #2176d2 #1659BF;
  scrollbar-width: thin;
}